@import "./variables.scss";

.account {
  @include flex($align: center, $gap: 0.6rem);
  @include font($size: 1.2rem, $weight: bold);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #b8b2a3;
  background-color: #f2ebda;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    background-color: #e5ddc9;
  }

  .arrow {
    margin-top: 0.2rem;
    transition: transform 0.2s ease;
  }

  .openArrow {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
  }

  .userIcon {
    font-size: 1rem;
  }
}

.signOutContainer {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  right: 0;
  background-color: #ec9e90;
  color: #62332b;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #62332b;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #c4786b;
  }

  .signOutItem {
    @include inline-flex($align: flex-end, $gap: 0.5rem);
  }
}
