@use "variables" as *;

.footerWrapper {
  width: 100%;
  background-color: var(--secondary-color);

  .footer {
    @include flexCenter;
    flex-direction: column;
    color: var(--tertiary-color);
    gap: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 1rem;
    max-width: var(--max-width);
    margin: 0 auto;

    .icon {
      @include flexCenter;
      font-size: 2rem;
      width: 2rem;
      height: 2rem;

      svg {
        fill: var(--tertiary-color);
        transition: fill 0.25s ease;

        &:hover {
          fill: var(--primary-color);
        }
      }
    }
  }
}
