@import "./variables.scss";

.footerWrapper {
  width: 100%;
  background-color: var(--secondary-color);

  .footer {
    @include flex(
      $align: center,
      $justify: center,
      $direction: column,
      $gap: 1rem
    );
    @include font($size: 1rem, $color: var(--tertiary-color), $align: center);
    padding: 2rem;
    max-width: var(--max-width);
    margin: 0 auto;

    .icon {
      @include flexCenter;
      @include size($width: 2rem, $height: 2rem);
      font-size: 2rem;

      svg {
        fill: var(--tertiary-color);
        transition: fill 0.25s ease;

        &:hover {
          fill: var(--primary-color);
        }
      }
    }
  }
}
