@use "variables" as *;

.sectionWrapper {
  width: 100%;
  background-color: #fff;

  .section {
    @include flexCenter;
    width: 100%;
    justify-content: center;
    gap: 5rem;
    padding: 4rem 1rem;
    margin: 0 auto;
    text-align: center;

    &.reverse {
      flex-direction: row-reverse;
    }

    .imageContainer {
      flex-basis: 90%;
      position: relative;
      aspect-ratio: 1/1;
    }

    .contentContainer {
      @include flexCenter;
      flex-direction: column;
      gap: 1.5rem;
      flex-basis: 100%;
    }

    .heading {
      color: var(--secondary-color);
      line-height: 3rem;
      font-weight: 700;
      font-size: 1.5em;
      margin-bottom: 0.5rem;
    }

    .description {
      color: rgb(104, 112, 124);
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }

  @media (min-width: 1024px) {
    .section {
      max-width: var(--max-width);
    }
  }
}

.heroSectionWrapper {
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(253, 250, 239, 0.98);
  background-image: url("/images/hero-background.png");
  background-repeat: repeat;
  background-size: 400px;
  background-position: center;
  background-blend-mode: overlay;

  .heading {
    color: var(--secondary-color);
    line-height: 4.5rem;
    font-weight: 700;
    font-size: 7rem;
    margin-bottom: 4rem;
  }

  .highlight {
    color: var(--primary-color);
  }

  .description {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}
