@use "variables" as *;

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 64px;
  justify-content: space-between;
  padding: 0 calc((100vw - 1000px) / 2);
  color: var(--secondary-color);
  background-color: rgba(253, 251, 242, 0.95);
  backdrop-filter: saturate(180%) blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.menu {
  height: 100%;
  ul {
    @include flexCenter;
    flex-wrap: wrap;
    height: 100%;
    gap: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  li {
    @include flexCenter;
    height: 100%;
  }

  .item {
    @include flexCenter;
    position: relative;

    a {
      @include flexCenter;
      display: flex;
      height: 100%;
    }

    &:hover {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--primary-color);
      }
    }
  }
}

.logo {
  a {
    @include flexCenter;
    height: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--secondary-color);
  }
}
